
<div class="col-lg-2 well top-well">
    <h4>
        And best of all ... you can combine
    </h4>
    <p>
        Not sure what your favorite numeric representation is?  Try them all.<br />
        <br />
        <i>For example:</i><br />
        10 - V * HFF /B11
    </p>
</div>