<div class="col-lg-2 well top-well">
    <h4>
        It can calculate Hexadecimal numbers
    </h4>
    <p>
        You do have to include an 'H' in the front so it knows it is a hex number<br />
        <br />
        <i>For example:</i><br />
        HFF + HCC
    </p>
</div>
