<div class="col-lg-2 well top-well">
    <h4>
        It can calculate decimal values
    </h4>
    <p>
        You can use it to add, subtract, multiply or divide decimal numbers<br />
        <br />
        <i>For example:</i><br />
        10.5 + 3.2 - 17 * 6 / 2
    </p>
</div>
