<div class="col-lg-2 well top-well">
    <h4>
        Welcome to the calculator app
    </h4>
    <p>
        You can use this app to enter a simple expression, press the calculate button and return the calculated value.
    </p>
</div>
